:root{
    --color_blanco: #fff;
    --color_blanco_oscuro: #eeeeee;
    --color_negro: #000;
    --transicion: 0.5s;
    --gris_medio: #565656;
    --gris_alto: #141414d4;
    --gris_bordes: 1px solid rgba(240, 240, 240, 0.764);
    --gris_sidebar: #212121;
    --scroll_color: #717171;
    --bordes-sidebar:12px;
    --texto-color-sidebar: #aaa;
    --tamano_icon_sidebar:1.5rem;
    --letra-sidebar: 0.9rem;
    --fondo-contenido-galeria: #181818;
    --fondo-chips:#373737;
    --header-color:#def1ff;
    --links:#75c3ff;
}   
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 5px;
}
